@page
@model NWTDb.Pages.Product.ShoppingCartModel
@{
}

<h2>Your Shopping Cart</h2>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>SubTotal</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CartItems.Count < 1)
            {
                    <td>
                <h4>Your cart is empty.</h4>
                    </td>
            }
            @for (int i = 0; i < Model.CartItems.Count; i++)
            {
                <tr>
                    <td>@Model.CartItems[i].ProductName</td>
                    <td>
                        <input type="number" min="0" asp-for="@Model.CartItems[i].QuantityToOrder" class="form-control" />
                        <input asp-for="@Model.CartItems[i].CartID" type="hidden" />
                        <input asp-for="@Model.CartItems[i].ProductID" type="hidden" />
                        <input asp-for="@Model.CartItems[i].ProductName" type="hidden" />
                    </td>
                    <td>@Model.CartItems[i].StandardCost.ToString("c")</td>
                    <td>@Model.CartItems[i].Subtotal.ToString("c")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-end">
        <strong>Total: </strong> @Model.CartTotal.ToString("c")
    </div>
    <button class="btn btn-primary" type="submit">Update Cart</button>

    <a class="btn btn-success" asp-page="PlaceOrder">Proceed to Checkout</a>
</form>